* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
header {
  background: rgba(255, 144, 14, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  color: var(--dark-01, #131313);
  font-size: 30px;
}
nav ul {
  display: flex;
  gap: 15px;
  font-size: 18px;
  font-weight: 500;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: var(--dark-02, #424242);
}
/* banner section start  */
.banner-container {
  background: rgba(255, 144, 14, 0.1);
  padding: 30px 240px;
  height: 100%;
}
.banner-heading {
  color: var(--dark-01, #131313);
  padding: 50px 0 10px 0;
  text-align: center;
}
.banner-title {
  color: var(--dark-01, #131313);
  font-size: calc(4.5vw);
  margin-bottom: 20px;
}
.banner-description {
  color: var(--dark-03, #727272);
  font-size: 16px;
}
.banner-pic {
  width: 100%;
}
.btn-primary {
  border-radius: 8px;
  color: #fff;
  font-size: 1.25rem;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  cursor: pointer;
  border: 0;
}
/* Our Features section */
.teams-container {
  display: flex;
  align-items: center;
  margin: 85px 270px;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.teams-img-container img {
  width: 220px;
  height: 220px;
}
.teams-content {
  padding-left: 70px;
}

.team-title {
  font-size: 30px;
  font-weight: 500;
}
.teams-description {
  color: var(--dark-03, #727272);
  margin-top: 24px;
  margin-bottom: 25px;
}
.of-Our,
.features {
  font-size: 30px;
  font-weight: 700;
}
/* responsive for mobile  */
@media screen and (max-width: 576px) {
  .header-container {
    flex-direction: column;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  .banner-container {
    padding: 20px 50px;
    width: 80%;
  }
}
/* responsive for tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
  .banner-container {
    padding: 25px 50px;
  }
}
